<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Dashboard | Trividha|Upload Raw Herbs</title>
    <%- include("include/_header") %>
    <link
      rel="stylesheet"
      href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <style>
      .menu-link i {
        color: #fff;
        font-size: 10px;
        margin-top: 5px;
      }
    </style>
  </head>

  <body
    id="kt_body"
    class="
      header-mobile-fixed
      aside-enabled aside-fixed aside-minimize-hoverable
    "
  >
    <%- include("include/_navbar") %>

    <div class="d-flex flex-column flex-root">
      <div class="d-flex flex-row flex-column-fluid page">
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
          <div id="kt_header" class="header">
            <div class="container">
              <div
                class="d-flex align-items-center flex-wrap mr-1 mt-5 mt-lg-0"
              >
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                  <h4 class="text-dark font-weight-bold my-1 mr-5">
                    Dashboard
                    <small class="text-muted ml-2"
                      >updates and statistics</small
                    >
                  </h4>
                </div>
              </div>

              <!--  -->
            </div>
          </div>
          <div
            class="content d-flex flex-column flex-column-fluid"
            id="kt_content"
          >
            <div class="d-flex flex-column-fluid">
              <div class="container">
                <div class="card card-custom">
                  <div class="card-header border-0 pt-7">
                    <h3 class="card-title align-items-start flex-column">
                      <span
                        class="
                          card-label
                          font-weight-bold font-size-h4
                          text-dark-75
                        "
                        >Edit Raw Herb</span
                      >
                    </h3>
                  </div>
                  <div class="card-body pt-0 pb-4">
                    <form
                      enctype="multipart/form-data"
                      action="/api/raw_herbs/<%=raw_herbs._id%>"
                      method="POST"
                      data-api="raw_herbs"
                    >
                      <div class="tab-content mt-2" id="myTabTable5">
                        <div
                          class="tab-pane fade show active"
                          id="kt_tab_table_5_3"
                          role="tabpanel"
                          aria-labelledby="kt_tab_table_5_3"
                        >
                          <div class="card-body">
                            <div class="form-group row">
                              <div class="col-lg-3">
                                <label class="text-dark font-weight-bolder"
                                  >Name</label
                                >
                                <br />
                                <input
                                  type="text"
                                  name="name"
                                  value="<%=raw_herbs.name%>"
                                />
                              </div>
                              <div class="col-lg-3">
                                <label class="text-dark font-weight-bolder"
                                  >Content</label
                                >
                                <br />
                                <textarea
                                  name="content"
                                  id=""
                                  cols="25"
                                  rows="1"
                                  value=""
                                >
<%=raw_herbs.content%></textarea
                                >
                              </div>
                              <div class="col-lg-3">
                                <label class="text-dark font-weight-bolder"
                                  >Especialities</label
                                >
                                <br />
                                <textarea
                                  name="especialities"
                                  id=""
                                  cols="25"
                                  rows="1"
                                  value=""
                                >
<%=raw_herbs.especialities%></textarea
                                >
                              </div>
                              <div class="col-lg-3">
                                <label class="text-dark font-weight-bolder"
                                  >Benefits</label
                                >
                                <br />
                                <textarea
                                  name="benefits"
                                  id=""
                                  cols="25"
                                  rows="1"
                                  value=""
                                >
<%=raw_herbs.benefits%></textarea
                                >
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-lg-3">
                                <label class="text-dark font-weight-bolder"
                                  >Botanical Name</label
                                >
                                <br />
                                <input
                                  type="text"
                                  name="botanicalName"
                                  value="<%=raw_herbs.botanicalName%>"
                                />
                              </div>
                              <div class="col-lg-3">
                                <label class="text-dark font-weight-bolder"
                                  >Family Name</label
                                >
                                <br />
                                <input
                                  type="text"
                                  name="familyName"
                                  value="<%=raw_herbs.familyName%>"
                                />
                              </div>
                              <div class="col-lg-3">
                                <label class="text-dark font-weight-bolder"
                                  >Common Name</label
                                >
                                <br />
                                <input
                                  type="text"
                                  name="commonName"
                                  value="<%=raw_herbs.commonName%>"
                                />
                              </div>
                              <div class="col-lg-3">
                                <label class="text-dark font-weight-bolder"
                                  >Part Used</label
                                >
                                <br />
                                <input
                                  type="text"
                                  name="partUsed"
                                  value="<%=raw_herbs.partUsed%>"
                                />
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-lg-3">
                                <label class="text-dark font-weight-bolder"
                                  >Why Special</label
                                >
                                <br />
                                <input
                                  type="text"
                                  name="whySpecial"
                                  value="<%=raw_herbs.whySpecial%>"
                                />
                              </div>
                              <div class="col-lg-3">
                                <label class="text-dark font-weight-bolder"
                                  >Habitat</label
                                >
                                <br />
                                <input
                                  type="text"
                                  name="habitat"
                                  value="<%=raw_herbs.habitat%>"
                                />
                              </div>
                              <div class="col-lg-3">
                                <label class="text-dark font-weight-bolder"
                                  >Curing Diseases</label
                                >
                                <br />
                                <div class="row" id="room_fileds1">
                                  <div class="col-8">
                                    <%
                                    raw_herbs.curingDiseases.forEach(function(user){%>
                                    <textarea
                                      name="curingDiseases"
                                      id=""
                                      cols="25"
                                      rows="1"
                                      value=""
                                    >
    <%=user%></textarea
                                    ><br /><% }); %>
                                  </div>
                                  <div class="col-4">
                                    <!-- <span id="room_fileds1"> -->
                                    <i
                                      class="ml-10 fas fa-plus-circle"
                                      id="more_fields"
                                      onclick="add_fields1();"
                                      value="Add More"
                                      aria-hidden="true"
                                    >
                                    </i>
                                    <!-- </span> -->
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-3">
                                <label class="text-dark font-weight-bolder"
                                  >Image
                                </label>
                                <br />
                                <div class="row">
                                  <div class="col-8" id="room_fileds">
                                    <div class="py-1">
                                      <input type="file" name="image" />
                                    </div>
                                  </div>
                                  <div class="col-4">
                                    <!-- <span id="room_fileds"> -->
                                    <i
                                      class="ml-10 fas fa-plus-circle"
                                      id="more_fields"
                                      onclick="add_fields();"
                                      value="Add More"
                                      aria-hidden="true"
                                    >
                                    </i>
                                    <!-- </span> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <button type="submit" class="btn btn-warning mr-2">
                          Submit
                        </button>
                        <button type="reset" class="btn btn-secondary">
                          Cancel
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="">
                  <a href="raw_herb">
                    <button type="button" class="btn btn-secondary">
                      Back
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
            <div
              class="
                container
                d-flex
                flex-column flex-md-row
                align-items-center
                justify-content-between
              "
            >
              <div class="text-dark order-2 order-md-1">
                <span class="text-muted font-weight-bold mr-2">2021©</span>
                <a
                  href=""
                  target="_blank"
                  class="text-dark-75 text-hover-primary"
                  >Proudly Powered by Trividha Team</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("include/_kt_quick_search") %> <%-
    include("include/_kt_scroll_top") %> <%-
    include("include/_javascripts_srcs") %>
    <script>
      var room = 1;
      function add_fields() {
        room++;
        var objTo = document.getElementById("room_fileds");
        var divtest = document.createElement("div");
        // divtest.innerHTML =
        //   '<div class="new-fields"><div class="img-field"><input type="file" name="image"></div> </div>';
        divtest.innerHTML =
          '<div class="py-1"><input type="file" name="image"></div>';
        objTo.appendChild(divtest);
      }
      var room = 1;
      function add_fields1() {
        room++;
        var objTo = document.getElementById("room_fileds1");
        var divtest = document.createElement("div");
        divtest.innerHTML =
          '<div class="col-8"><textarea name="curingDiseases" id="" cols="25" rows="1"></textarea></div>';

        objTo.appendChild(divtest);
      }
    </script>
  </body>
</html>
