<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Dashboard | Trividha|Contact</title>
    <%- include("include/_header") %>
    <link
      rel="stylesheet"
      href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <style>
      .menu-link i {
        color: #fff;
        font-size: 10px;
        margin-top: 5px;
      }
    </style>
  </head>

  <body
    id="kt_body"
    class="
      header-mobile-fixed
      aside-enabled aside-fixed aside-minimize-hoverable
    "
  >
    <%- include("include/_navbar") %>

    <div class="d-flex flex-column flex-root">
      <div class="d-flex flex-row flex-column-fluid page">
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
          <div id="kt_header" class="header">
            <div class="container">
              <div
                class="d-flex align-items-center flex-wrap mr-1 mt-5 mt-lg-0"
              >
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                  <h4 class="text-dark font-weight-bold my-1 mr-5">
                    Dashboard
                    <small class="text-muted ml-2"
                      >updates and statistics</small
                    >
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div
            class="content d-flex flex-column flex-column-fluid"
            id="kt_content"
          >
            <div class="d-flex flex-column-fluid">
              <div class="container">
                <div class="card card-custom">
                  <div class="card-header border-0 pt-7">
                    <h3 class="card-title align-items-start flex-column">
                      <span
                        class="
                          card-label
                          font-weight-bold font-size-h4
                          text-dark-75
                        "
                        >Contact</span
                      >
                      <span
                        class="text-muted mt-3 font-weight-bold font-size-sm"
                        >Message, Requests, Query</span
                      >
                    </h3>
                    <div class="card-toolbar"></div>
                  </div>

                  <div class="card-body pt-0 pb-4">
                    <div class="tab-content mt-2" id="myTabTable5">
                      <div
                        class="tab-pane fade show active"
                        id="kt_tab_table_5_3"
                        role="tabpanel"
                        aria-labelledby="kt_tab_table_5_3"
                      >
                        <%- include("include/_contact_table") %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
            <div
              class="
                container
                d-flex
                flex-column flex-md-row
                align-items-center
                justify-content-between
              "
            >
              <div class="text-dark order-2 order-md-1">
                <span class="text-muted font-weight-bold mr-2">2021©</span>
                <a
                  href=" "
                  target="_blank"
                  class="text-dark-75 text-hover-primary"
                  >Proudly Powered by Trividha Team</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("include/_kt_quick_search") %> <%-
    include("include/_kt_scroll_top") %> <%-
    include("include/_javascripts_srcs") %>
  </body>
</html>
