<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Trividha | About Us</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%- include("include/_header") %>
    <link
      rel="stylesheet"
      href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <style>
      .affix {
        top: 0;
        width: 100%;
        z-index: 9999 !important;
      }

      .affix + .container-fluid {
        padding-top: 70px;
      }
      #fp-nav {
        display: none;
      }
      .abt-new p {
        width: 580px;
      }
      @media (max-width: 990px) {
        .abt-new p {
          width: 100%;
        }
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <!-- Social Links  -->
      <%- include("include/_social_links") %>

      <div id="main">
        <section
          class="container-fluid header nopadding vertical-scrolling b-img"
        >
          <!-- header top-fix navbar  -->
          <%- include("include/_navbar") %>

          <!-- header top-fix side navbar  -->
          <%- include("include/_side_navbar") %>

          <img src="/public_img/main-about.jpg" class="img-responsive mt-120" />
        </section>

        <section class="container-fluid abt-new about-part1">
          <div class="row">
            <div class="col-md-4 colsm-12 col-xs-12">
              <img src="/public_img/about-pic1.png" class="img-responsive" />
            </div>

            <div class="col-md-8 colsm-12 col-xs-12">
              <h1 class="abt-txtt" style="font-family: fontone">About Us</h1>

              <p style="margin-top: 0px">
                Passionately, Trividha is serving humanity for the last
                twenty-five years in India. Back in 1995. Trividha started its
                business with natural herbal agriculture, Which is being
                utilized to produce numerous healthy spices and natural
                medicines. Plants like Kutki, Jatamansi, Shatavari,<br />

                Trividha has launched several classical medicines prepared with
                the special herbs from our farm, and 20 patent product to treats
                patients confronting difficulties linked to Digestive,
                Endocrine, Joint pain, Respiratory, Gynae, Urinary, Liver and
                Gallbladder, Autoimmune, Sexual Disorders, Neurological and
                Cardiovascular diseases.
                <a
                  href="#"
                  style="color: orange"
                  data-toggle="modal"
                  data-target="#content-box"
                  >Read More</a
                >
              </p>
            </div>
          </div>
        </section>

        <section class="container-fluid abt-new about-part1">
          <div class="row">
            <div class="col-md-4 colsm-12 col-xs-12">
              <img src="/public_img/about-pic2.png" class="img-responsive" />
            </div>

            <div class="col-md-8 colsm-12 col-xs-12">
              <h1 class="abt-txtt" style="font-family: fontone">
                Trividha Clinics
              </h1>

              <p style="margin-top: 0px">
                <strong>How can you reach us :</strong><br />

                1- visit our clinic by appointment. <br />

                2- Online consultation (call at - +91-9499-38-38-38 to book an
                appointment) <br />

                3-Attend our multiple camps ( News about upcoming camps is
                available at our website under the social-cause section). <br />

                4-Email us at - info@trividhaayurveda.com ( Our consultant will
                reach to you) <br />

                Most preferred by the patients of Trividha is online
                consultation. More than ten thousand patients from various
                cities of Globe prefer Trividha as their first point of contact
                for any health difficulties.<br />

                <!-- With 15 different health centers and laboratories, Trividha has a team of over 50 doctors across the country. Where patients can consult our honored doctors and attain the best solution for their health issues.<br>

For all these patients they cannot meet doctors face to face, call our support number - 9499-38-38-38, and book an appointment with a specialist. -->
              </p>
              <button class="btn btn-md float-right bm-clr">
                <u> Call Now</u>
              </button>
            </div>
          </div>
        </section>

        <section class="container-fluid abt-new about-part1">
          <div class="row">
            <div class="col-md-4 colsm-12 col-xs-12">
              <img src="/public_img/about-pic3.png" class="img-responsive" />
            </div>

            <div class="col-md-8 colsm-12 col-xs-12">
              <h1 class="abt-txtt1" style="font-family: fontone">
                Our Treatment Approach
              </h1>

              <p>
                For online consultation, the medicine specifically tailored to
                your problem will be delivered to your address via courier. It
                is important to understand the medicines that we prepare in our
                clinic will have their highest value. Authentic medicine is an
                aggregate of the precise proportions of numerous herbs that are
                not possible to make at home with the same effect.

                <br />
                Online counseling, follow-up, progress, change in therapy will
                be ensured by Trividha. During the online consultation, if at
                any point in time Trividha doctors feel the need to visit the
                patient, we can advise the patient to visit one of their nearest
                clinics for better medical results.<br /><br />

                <!-- 
To understand the disease and the patient thoroughly, the doctors of the Trividha first inspect the history of the patient with his previous diseases, this helps the doctor to know the causes, symptoms, and severity of the illness. After fully understanding the history of the disease. Based on disease and patient observation, the doctors suggest suitable medical consultation, the utmost necessary changes in medicine, diet, and lifestyle. -->
              </p>

              <button class="btn btn-md float-right bm-clr">
                <u> Call Now</u>
              </button>
            </div>
          </div>
        </section>

        <section class="container-fluid abt-new about-part1">
          <div class="row">
            <div class="col-md-4 colsm-12 col-xs-12">
              <img src="/public_img/about-pic4.png" class="img-responsive" />
            </div>

            <div class="col-md-8 colsm-12 col-xs-12">
              <h1 class="abt-txtt" style="font-family: fontone">
                Trividha Diet Planner Tool
              </h1>

              <p>
                According to Ayurveda, inappropriate diet and improper lifestyle
                have been considered as the primary cause of diseases. Our first
                objective is to protect the health of a healthy human being like
                the first objective of Ayurveda. You should know that among the
                various causes of diseases, obesity, malnutrition, and lack of
                essential elements in our diet are considered to be the main
                reasons.<br />

                To end this fundamental reason for the origin of diseases
                forever, the Trividha is giving priority to proper diet and
                wishing to cure the society, by diet planner tool which is free
                to use on the web. thousands of people have been taken the
                benefits and stated an enormous response over the email.<br />
              </p>
              <a href="/diet" target="_blank"
                ><button class="btn btn-md float-right bm-clr">
                  <u> Create Your Diet Now</u>
                </button></a
              >
            </div>
          </div>
        </section>

        <section class="container-fluid abt-new about-part1">
          <div class="row">
            <div class="col-md-4 colsm-12 col-xs-12">
              <img src="/public_img/about-pic5.png" class="img-responsive" />
            </div>

            <div class="col-md-8 colsm-12 col-xs-12">
              <h1 class="abt-txtt1" style="font-family: fontone">Motivation</h1>

              <p>
                We have given priority to the health care segment in Ayurveda as
                we believe there is a great necessity for feature medicines in
                this realm. The innovation for introducing our medicines began
                after many observations from various doctors. They tried to
                embrace Ayurveda but from where? What brand?.<br /><br />

                This topic has inspired us a lot. As we were already working to
                produce all kinds of important Jadibooti, Herbs, Bhasma, and
                various other chemicals and plants required to make good
                medicine. We added the latest technologies
                "Nano-phytoremediation" for the production of pure and
                high-quality natural herbs.
                <a
                  href="#"
                  style="color: orange"
                  data-toggle="modal"
                  data-target="#content-box"
                  >Read More</a
                >

                <!-- Recently, the WHO (World Health Organization) prophesied that 80 percent of people worldwide depend on medicinal herbs for certain aspects of their fundamental health care. According to the WHO, nearly 21,000 plant species have the potential to be used as medicinal plants.

Treatment with medicinal plants is deemed very safe as it has no or fewer consequences. These standards keep pace with nature, which is the most prominent advantage. The golden truth is that the use of herbal remedies is independent of any age group and gender. -->
                <!-- 
There is no theory remains, why we can not make the best ayurvedic medicines. initially, we started with just 3 Brands and now we hold a very good market caption with more than 50 different Patents.

Using the family business of Ayurvedic raw herbs, and it is time to provide all the best quality medicines. Ayurveda is in our blood since childhood, we are aware of the miraculous results with Ayurvedic herbs and now everyone benefits from it. We also have more than 25 years of experience in pure quality raw herb, import, and export trade. We want to offer you the best price and pharmacological grade herbal medications. Our team of specialist physicians has worked hard to achieve the best results in high-quality healthcare. We have started with a variety of medications for the treatment of arthritis, constipation, liver disorders, cough, gas heartburn, and many other diseases.<br><br> -->
                <!-- 
We are focusing on three ways to make life healthy. Good quality medicines, pure raw herbs, and specialized medical consultation. In this way, we can spread good health around the world<br><br> -->
              </p>
            </div>
          </div>
        </section>

        <div class="modal fade" id="content-box" role="dialog">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
                <h4 class="modal-title">Heading</h4>
              </div>
              <div class="modal-body">
                <p class="content-box-modal">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Necessitatibus quas numquam soluta eveniet tempore quae
                  commodi magni ducimus tempora exercitationem perspiciatis
                  repellendus quia expedita minima nisi totam ipsam hic labore,
                  ab nam enim mollitia. Amet eaque, adipisci nam blanditiis
                  inventore autem explicabo. Enim suscipit voluptas impedit
                  asperiores, quaerat eos quos.
                </p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-------- footer section		-----	 -->
        <%- include("include/_footer") %>
      </div>
    </div>

    <!-- Scripts  -->
    <%- include("include/_scripts") %>
  </body>
</html>
