<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Trividha | Blog | Joint Pain</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- header top-fix navbar  -->
    <%- include("include/_navbar") %>

    <!-- header top-fix side navbar  -->
    <%- include("include/_side_navbar") %>

    <style>
      .affix {
        top: 0;
        width: 100%;
        z-index: 9999 !important;
      }

      .affix + .container-fluid {
        padding-top: 70px;
      }
      #fp-nav {
        display: none;
      }

      .abt-new p {
        padding-top: 0px;
      }
      .text span .text-top {
        display: none;
      }
      .frm {
        height: 100px;
      }
      .check-program2 {
        padding-top: 80px;
      }
      @media (max-width: 990px) {
        .check-program2 {
          padding-top: 0px;
        }
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <!-- Social Links  -->
      <%- include("include/_social_links") %>

      <div id="main">
        <section
          class="container-fluid header nopadding vertical-scrolling b-img"
        >
          <!-- header top-fix navbar  -->
          <%- include("include/_navbar") %>

          <!-- header top-fix side navbar  -->
          <%- include("include/_side_navbar") %>

          <div
            class="
              container-fluid
              check-program
              col-md-12
              mt-100
              section-divide
            "
          >
            <h1 class="abt-txt text-center" style="margin-top: 20px">
              Are You Suffering From Monsoon Joint Pain?
            </h1>

            <div class="row">
              <div class="col-md-8">
                <p class="text col-md-12 txt">
                  Monsoon is such a great weather to enjoy but many of us are
                  unable to enjoy this season due to body and joint pain.so here
                  are some facts to know about arthritis and joint pain. <br />
                  <br />During monsoon air pressure (Barometric pressure) is
                  also a reason for joint pain, the lower air pressure pushes
                  against the body. In turn, tissues expand and form a greater
                  pressure on the joints. This pressure is so light and we don't
                  actually notice it. The only sign of that pressure is the
                  sensation of pain we feel.

                  <br /><br />
                  Sedentary lifestyle and sitting for longer time in office
                  leads to stiffness in body and joints. Mild stretching
                  exercises and small walk during working hours can reverse this
                  condition.
                </p>
              </div>
              <div class="col-md-4 mt-50">
                <img
                  src="/public_img/JOINT-PAIN.png"
                  alt=""
                  class="img-fluid"
                  width="100%"
                />
              </div>
            </div>
          </div>
        </section>
        <section class="abt-new">
          <div class="col-md-12">
            <p class="" style="margin-top: -50px">
              Another cause of monsoon pain is because of increased humidity.
              High humidity levels can make the blood thicker, causing increases
              blood pressure in the blood vessels, and makes the body specially
              heart work harder, to pump blood through the body. Humid days can
              cause the body to become dehydrated, which decreases the
              concentration of fluid around the joints and create more joint
              pain. Drinking more water or liquid can solve if problematic
              reason is less intake of water.
            </p>
          </div>
          <div class="row">
            <div class="col-md-4" style="margin-top: -100px">
              <img
                src="/public_img/JOINT-PAIN.png"
                alt=""
                class="img-fluid"
                width="100%"
              />
            </div>
            <div class="col-md-8">
              <p class="" style="width: auto">
                Ayurveda expert Dr.Prachi Gupta says increase in joint pain and
                stiffness during monsoon is very often and not only affecting
                old aged persons but younger ones are also suffering with this
                problem. The reason behind this pain is due to increase in vata
                dosha ,this vata creates more dryness in the joints leading to
                more friction, swelling and pain. Following vata pacifying
                regime can be helpful in this condition. Sitting in an
                air-conditioned environment aggravates the pain. Hence, make it
                a point to get up and walk a few steps every 1 hour. Hot oil
                massage over the painful joint will relax the joint and
                surrounding tissue. Patients already suffering from arthritis
                should be more conscious and careful for joint care during
                monsoon. Ayurveda is the only option which can guide you for
                proper diet and lifestyle to manage with this problem . Along
                with these guidelines TRIVIDHA has a perfect formula to
                strengthen your joint and makes them healthy and pain free
                <!-- .more than 1000 of patients are getting benefitted with this combination.
            
            Say no to painkillers, no more sufferings, no more side effects, save your joints before they need replacement.
          
            our expert doctor for free arthritis consultation and help us in fulfilling our dream of arthritis fee india. -->
              </p>
            </div>
          </div>
        </section>

        <section class="container-fluid check-program2">
          <div class="container">
            <h1 class="abt-txt text-center">Comments</h1>
            <div class="row comment-sec col-md-12">
              <div class="col-md-2">
                <img
                  src="/public_img/testimonial-img.png"
                  alt=""
                  width="100%"
                />
              </div>
              <div class="col-md-10">
                <p class="text">
                  <strong>Full Name</strong> <br />
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Animi! <br />
                  <a href=""
                    ><i
                      class="fa fa-comments"
                      title="Reply To This Comment"
                      style="color: #c77b2b"
                    ></i
                  ></a>
                </p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div
                class="ftm col-md-5"
                style="margin-top: 70px; margin-left: 30px"
              >
                <h1
                  class="abt-txt caree"
                  style="font-family: fontone; color: #5d7326"
                >
                  Post A Comment
                </h1>
              </div>
              <div class="ftm col-md-6">
                <div class="col-lg-12 col-sm-12 col-xs-12 frm">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group col-md-6">
                      <label for="email" class="frm-txt">Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id=""
                        placeholder=""
                        name="name"
                      />
                    </div>

                    <div class="form-group">
                      <label for="email" class="frm-txt">Email</label>
                      <input type="" class="form-control" id="" name="email" />
                    </div>
                    <div class="form-group">
                      <label for="comment" class="frm-txt">Comment</label>
                      <textarea
                        name=""
                        id=""
                        cols="10"
                        rows="2"
                        class="form-control"
                      ></textarea>
                    </div>
                    <div class="form-group">
                      <p class="frm-txt">
                        <button
                          type="submit"
                          class="btn btn-default"
                          style="
                            color: #000;
                            background: #c77b2b;
                            padding: 3px 15px;
                            border-radius: 0;
                          "
                        >
                          Send
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-------- footer section		-----	 -->
        <%- include("include/_footer") %>
      </div>
    </div>
    <!-- Scripts  -->
    <%- include("include/_scripts") %>
  </body>
</html>
