<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Trividha | Body Analysis</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%- include("include/_header") %>
    <link
      rel="stylesheet"
      href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <style>
      .affix {
        top: 0;
        width: 100%;
        z-index: 9999 !important;
      }

      .affix + .container-fluid {
        padding-top: 70px;
      }
      #fp-nav {
        display: none;
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <!-- Social Links  -->
      <%- include("include/_social_links") %>

      <div id="main">
        <section
          class="container-fluid header nopadding vertical-scrolling b-img"
        >
          <!-- header top-fix navbar  -->
          <%- include("include/_navbar") %>

          <!-- header top-fix side navbar  -->
          <%- include("include/_side_navbar") %>
          <img
            src="/public_img/body-analysis-VPK.jpg"
            class="img-responsive mt-100"
          />

          <div>
            <div class="col-md-5 col-xs-6">
              <div class="col-md-4 col-xs-4">
                <a href="#"
                  ><img
                    src="/public_img/b-i-back.png"
                    class="img-responsive bi"
                /></a>
              </div>

              <div class="col-md-4 col-xs-4">
                <a href="#"
                  ><img src="/public_img/b-i1.png" class="img-responsive bi"
                /></a>
              </div>

              <div class="col-md-4 col-xs-4">
                <a href="#"
                  ><img src="/public_img/b-i2.png" class="img-responsive bi"
                /></a>
              </div>
            </div>
            <div class="col-md-2 col-xs-4">
              <a href="#"
                ><button class="btn btn-danger b-b"><u>Test Now</u></button></a
              >
            </div>
          </div>
        </section>

        <section class="container-fluid abt-new">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h1 class="heading">Prakriti Analysis:</h1>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra
                maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit
                amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Quis ipsum
                suspendisse ultrices gravida. Risus commodo viverra maecenas
                accumsan lacus vel facilisis. <br /><br />

                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra
                maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit
                amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Quis ipsum
                suspendisse ultrices gravida. Risus commodo viverra maecenas
                accumsan lacus vel facilisis. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                gravida. Risus commodo viverra maecenas accumsan lacus vel
                facilisis. <br /><br />
              </p>
            </div>
          </div>
        </section>

        <section class="container-fluid doctr-sec3">
          <div class="container">
            <div class="row">
              <div class="col-md-1 col-sm-12 colxs-12"></div>
              <div class="col-md-10 col-sm-12 col-xs-12">
                <h1 class="text-left">Establishment of Prakriti:</h1>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                  maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Quis ipsum
                  suspendisse ultrices gravida. Risus commodo viverra maecenas
                  accumsan lacus vel facilisis. <br /><br />

                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                  maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Quis ipsum
                  suspendisse ultrices gravida. Risus commodo viverra maecenas
                  accumsan lacus vel facilisis. Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Quis ipsum suspendisse
                  ultrices gravida. Risus commodo viverra maecenas accumsan
                  lacus vel facilisis. <br /><br />
                </p>
              </div>

              <div class="col-md-1 col-sm-12 colxs-12"></div>
            </div>
          </div>
        </section>

        <section class="container-fluid abt-new">
          <div class="row">
            <div class="col-md-12 colsm-12 col-xs-12">
              <h1 class="heading">Types Of PRAKRITI:</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="vpk-box">
                <ul>
                  <li>
                    <a href="/vata_body_type"
                      ><i class="fa fa-leaf" aria-hidden="true"></i> Vata Body
                    </a>
                  </li>
                  <li>
                    <a href="/pitta_body_type"
                      ><i class="fa fa-leaf" aria-hidden="true"></i> Pitta Body
                    </a>
                  </li>
                  <li>
                    <a href="/kalpa_body_type"
                      ><i class="fa fa-leaf" aria-hidden="true"></i> Kapha Body
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-leaf" aria-hidden="true"></i> Vata-Pitta
                      Body
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-leaf" aria-hidden="true"></i> Vata-Kapha
                      Body
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-leaf" aria-hidden="true"></i> Pitta-Kapha
                      Body
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-leaf" aria-hidden="true"></i>
                      Vata-Pitta-Kapha Body
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="vpk-box text-center">
                <img src="/public_img/vpk1.png" class="img-responsive" />
                <p
                  class="text-center"
                  style="
                    font-family: 'Philosopher', sans-serif;
                    font-weight: bold;
                    color: #c77b31;
                  "
                >
                  Vata Type
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="vpk-box text-center">
                <img src="/public_img/vpk2.png" class="img-responsive" />
                <p
                  class="text-center"
                  style="
                    font-family: 'Philosopher', sans-serif;
                    font-weight: bold;
                    color: #c77b31;
                  "
                >
                  Pitta Type
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="vpk-box text-center">
                <img src="/public_img/vpk3.png" class="img-responsive" />
                <p
                  class="text-center"
                  style="
                    font-family: 'Philosopher', sans-serif;
                    font-weight: bold;
                    color: #c77b31;
                  "
                >
                  Kapha Type
                </p>
              </div>
            </div>
          </div>
        </section>

        <section class="container-fluid abt-new">
          <div class="row">
            <div class="col-md-12 colsm-12 col-xs-12">
              <h1 class="heading">
                Factors affecting the formation of Prakriti
              </h1>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra
                maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit
                amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Quis ipsum
                suspendisse ultrices gravida. Risus commodo viverra maecenas
                accumsan lacus vel facilisis. <br /><br />

                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra
                maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit
                amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Quis ipsum
                suspendisse ultrices gravida. Risus commodo viverra maecenas
                accumsan lacus vel facilisis. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                gravida. Risus commodo viverra maecenas accumsan lacus vel
                facilisis. <br /><br />
              </p>
            </div>
          </div>
        </section>
        <section class="container-fluid abt-new">
          <div class="row">
            <div class="col-md-12 colsm-12 col-xs-12">
              <h1 class="heading">Importance of Knowing prakriti</h1>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra
                maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit
                amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Quis ipsum
                suspendisse ultrices gravida. Risus commodo viverra maecenas
                accumsan lacus vel facilisis. <br /><br />

                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra
                maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit
                amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Quis ipsum
                suspendisse ultrices gravida. Risus commodo viverra maecenas
                accumsan lacus vel facilisis. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                gravida. Risus commodo viverra maecenas accumsan lacus vel
                facilisis. <br /><br />
              </p>
            </div>
          </div>
        </section>

        <!-------- footer section		-----	 -->
        <%- include("include/_footer") %>
      </div>
    </div>

    <!-- Scripts  -->
    <%- include("include/_scripts") %>
  </body>
</html>
